.A
{
    text-align: center;
    margin: auto;
    box-shadow: 3px;
    width: 470px;
    height: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    position: absolute;
    line-height: 4;
    border-radius: 20px;
}
body
{
    background-image: url(img3.jpg);
}
h2
{
    font-family: sans-serif;
    width: 100;
    text-shadow: 2px 2px #ccc;
    color:dimgray;
}
input
{
    width: 90%;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    background-color:azure;
}
input[type="button"]
{
    width: 40%;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    background-color:azure;
    border-radius: 10px;
}
p
{
    text-align: center;
}
button
{
    width: 40%;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    background-color:azure;
    border-radius: 10px;
}